
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secure</title>
</head>
<body>
    <h1>app</h1>
    <div id="app"></div>
    <script src="~/dist/main.js"></script>
</body>
</html>
